<header class="presentacion" style="background-image: url('assets/images/header.jpg');">
  <div class="presentacion__informacion">
      <div class="presentacion__descripcion">
          <div>
              <h2 class="presentacion__titulo">Welcome to Boosted USA</h2>
          </div>
          <div>
              <p class="presentacion__parrafo">The Holy Grail of Electric Skateboards and One REVolutionary Scooter</p>
          </div>
      </div>
      <div class="presentacion__botones">
          <a href="#" class="boton boton--redondo">
              BOOSTED REVS
          </a>
          <a href="#" class="boton boton--redondo">
              BOOSTED BOARDS
          </a>
      </div>
  </div>

</header>


<!-- brands -->
<section class="marcas flex justify-space-evenly py-2">
  <img src="assets/images/electreck.png" alt="electreck">
  <img src="assets/images/tech.png" alt="tech">
  <img src="assets/images/popular.png" alt="popular">
  <img src="assets/images/wired.png" alt="wired">
</section>
<!-- locking text -->
<section class="texto-looking">
  <h2 class="texto-looking__titulo">Looking for  Boosted Boards, or Boosted Revs?</h2>
  <p class="texto-looking__parrafo">Boosted USA acquired <b>all</b> of the remaining inventory directly from Boosted.  This means we have the electric skateboards and scooter you all love and have been looking for.  Get your hands on these <b>highly sought after</b> products while supplies last.</p>
  <div class="separador"></div>

