<nav class="navegacion">

  <div class="logo">
    <a routerLink="home">
      <img src="assets\images\logo_header.png"  alt="logo">
    </a>
  </div>

  <ul class="navegacion-menu">

    <a routerLink="SkateBoards"class="menu-iteam">ELECTRIC SKATEBOARDS</a>
      |
      <a routerLink="EletricScooters" class="menu-iteam">ELECTRIC SCOOTERS</a>
      |
      <a routerLink="accesories" class="menu-iteam">ACCESORIES</a>
      |
      <a routerLink="GiftCard" class="menu-iteam">GIFT CARD</a>
      |
      <a routerLin ="" class="menu-iteam">MORE INFO</a>
  </ul>

</nav>





<router-outlet></router-outlet>
