<section class="container">
  <div class="contener">
    <div class="card">
      <img src="assets/images/boardskate.jpg" alt="">

      <h2>Skate</h2>

      <p>Info</p>
    </div>

    <div class="card">
      <img src="assets/images/boardskate.jpg" alt="">

      <h2>Skate</h2>

      <p>Info</p>
    </div>

    <div class="card">
      <img src="assets/images/boardskate.jpg" alt="">

      <h2>Skate</h2>

      <p>Info</p>
    </div>

    <div class="card">
      <img src="assets/images/boardskate.jpg" alt="">

      <h2>Skate</h2>

      <p>Info</p>
    </div>
    



  </div>
</section>
